.Sidebar {
    height: 100vh !important;
    background-color: #2e3200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0; 
    color: white;
}

.menu {
    padding-top: 100px;
}

.menu-item {
    padding: 15px 20px; 
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item i {
    font-size: 1.2rem;
    margin-right: 15px; 
    color: white;
}


.active {
    background-color: white !important;
}

.active a, .active i {
    color: #2e3200 !important;
}